<!DOCTYPE html>
<html lang="en">
<title>Assignment 3 - Profile</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a class="w3-bar-item w3-button w3-padding-large">Assignment 3  </a>
    <a href="/" class="w3-bar-item w3-button w3-padding-large">HOME</a>
    <a href="/profile" class="w3-bar-item w3-button">Profile</a>
	</div>
</div>

<div class="w3-content" style="max-width:2000px;margin-top:46px">




  <!-- The Band Section -->
  <!-- The Band Section -->
  <div class="w3-light-grey">
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <div>
      <div class="row">
        <div class="col-md-3" style="border: thin solid black">
            <div class="row">
               <div class="col-md-12">
                   <table>
                       <tr>
                         <td>
                            <p>{{myuser.name}}</p>
                            <p>@{{myuser.username}}</p>
                         </td>
                       </tr>
                       <tr>
                           <td style="border: thin solid black">
                               <a href="/profile">Tweets : {{numtweets}}</a>
                           </td>
                           <td style="border: thin solid black">
                               <a href="/list">Follower : {{follower}}</a>
                           </td>
                           <td style="border: thin solid black">
                               <a href="/list">Following : {{following}}</a>
                           </td>
                       </tr>
                       {% if guest %}
                       <tr>
                           <td>
                                <form method="post" action="/follow">
                                    <input type="hidden" name="identification" value="{{myuser.key.id()}}">
                                    <button type="submit">{{identification}} Follow/Unfollow</button>
                                </form>
                           </td>
                       </tr>
                       {% else %}
                       <tr>
                            <td style="border: thin solid black">
                                <a href="/perinf">Edit</a>
                            </td>
                       </tr>
                       {% endif %}
                   </table>
               </div>
            </div>
            {% if myuser.bio %}
            <div class="col-md-12">
                <p>{{myuser.bio}}</p>
            </div>
            {%else%}
            <div class="col-md-12">
                <form method="post" action="/perinf">
                  <div>
                      <p><b>Biography</b></p>
                      <p><i>Say something about yourself</i></p>
                      <input type="text" name="bio" maxlength="280">
                  </div>
                  <button type="submit" name="button" value="bio">Save</button>
                </form>
            </div> 
            {% endif %}
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                     <form method="post" action="{{upload_url}}">
                         <div>
                             <input type="text" name="tweet" placeholder="Say Something..." maxlength="280">
                         </div>
                         <div class="row">
                              <div class="col-md-3 offset-md-6">
                                 <input type="file" name="image" accept="image/jpeg,image/png">
                              </div>
                              <div class="col-md-3">
                                 <button type="submit" name="button">Tweet</button>
                              </div>
                         </div>
                     </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                {% if not range(numtweets) == 0 %}
                    {% for i in range(numtweets) %}
                    <div style="border: thin solid black">
                      <div>
                        <form method="post" action="/profile">
                         <p><button type="submit" name="button">@{{tweets[i].username}}</button>  /  {{tweets[i].date}}</p>
                        </form>
                      </div>
                      <div>
                          <p>{{tweets[i].tweet}}</p>
                          {% if not images[i] == None %}
                          <img src="{{images[i]}}">
                          {% endif %}
                          {% if not guest %}
                          <div>
                              <div>
                                  <div>
                                    <form method="get" action="/edittweet/{{tweets[i].date}}">
                                    <button type="submit" name="datet" value="{{tweets[i].date}}">Edit
                                  </form>
                                  </div>
                                  <div>
                                  <form action="post" action="/tweet/delete">
                                    <input type="submit" name="date" value="{{tweets[i].date}}">Delete</input>
                                  </form>                                      
                                  </div>
                              </div>
                          </div>
                          {% endif %}
                      </div>
                    </div>  
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
      </div>






        {% for i in range(numtweets) %}
        <div>
           <div>
             <form method="post" action="/profile">
               <p><button type="submit" name="button">@{{tweets[i].username}}</button>  /  {{tweets[i].date}}</p>
            </form>
           </div>
           <div>
            <p>{{tweets[i].tweet}}</p>
           </div>
          </div>
        {% endfor %}
    </div>
  </div>
</div>

  <!-- The Contact Section -->
  <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
    <h2 class="w3-wide w3-center">CONTACT</h2>
    <div class="w3-row w3-padding-32">
      <div class="w3-col m6 w3-large w3-margin-bottom">
        <i class="fa fa-map-marker" style="width:30px"></i> Dublin, Ireland<br>
        <i class="fa fa-phone" style="width:30px"></i> Student Number: 2955875<br>
        <i class="fa fa-envelope" style="width:30px"> </i> Email: goktug.ozaksehir@student.griffith.ie<br>
      </div>
    </div>
  </div>
  
<!-- End Page Content -->
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
  <a class="fa fa-facebook-official w3-hover-opacity" href="https://www.facebook.com/"></a>
  <a class="fa fa-instagram w3-hover-opacity" href="https://www.instagram.com/?hl=en"></a>
  <a class="fa fa-snapchat w3-hover-opacity" href="https://www.snapchat.com/"></a>
  <a class="fa fa-pinterest-p w3-hover-opacity" href="https://www.pinterest.ie/"></a>
  <a class="fa fa-twitter w3-hover-opacity" href="https://twitter.com/?lang=en"></a>
  <a class="fa fa-linkedin w3-hover-opacity" href="https://ie.linkedin.com/"></a>
  <p class="w3-medium">Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3</a></p>
</footer>

<script>
// Automatic Slideshow - change image every 4 seconds
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 4000);    
}

// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}

// When the user clicks anywhere outside of the modal, close it
var modal = document.getElementById('ticketModal');
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

</body>
</html>
